.bg-principal{
    background: url('../img/bg-main.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}
.formulario{
    box-shadow: 0 0 18px rgba(37, 28, 106,.1);
    background-color: rgba(0,0,0,.32);
    backdrop-filter: blur(15px);
}
.devf{
    color: #9272ff;
}

.animacion{
    position: relative;
    height: 60px;
    width: 50px;
}
.rebote{
    position: absolute;
    animation: rebote 1s infinite;
    transition: all .5s ease;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0px;
}

@keyframes rebote {
    0% {
        height: 50px;
        width: 50px;
        transform: translateY(0px);
    }
    50% {
        height: 45px;
        width: 50px;
        transform: translateY(20px);
    }
    100%{
        height: 50px;
        width: 50px;
        transform: translateY(0px);
    }
    
}